* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  z-index: -4;
  font-size: 6.25%;
}

#app {
  height: 100%;
  position: relative;
  font-size: 1.4rem;
  z-index: -3;
}

button {
  margin: 0;
  padding: 0;
  border: 0.1rem solid transparent;
  outline: none;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}
